
.background-container {
    padding-bottom: 50px;
    background-color: #f3f1e4;
}
.heading-background {
    /* height: 493px; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    position:relative;
}
.heading-background h1 {
    font-size: 40px;
    font-weight:700;
    position:absolute;
    color:white;
    text-align: left;
    margin-top: 200px;
    margin-left: -700px;
}
.heading-background img {
    height:stretch;  
}
.gap {
    display: flex;
    margin-top:20px;
}
.one-para{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    margin-inline: auto;
}
.one-para h1 {
        padding: 0px;
        font-size: 52px;
        text-align: center;
    }
.separator {
    border:none;
    border-top:1px solid #ccc;
    margin:20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
}
.two-para {
    color:#622B1E;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin:0 300px 0 300px;
    font-size: 24px;
    line-height: 2;
}
.three-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:20px;
}
.three-para h1 {
    text-align: center;
    font-size: 36px;
    padding-top: 30px;
    padding-left: 0px;
}
.three-para img {
    height: 807px;
    width: 751px;
}
.crafted-image {
    width:808px;
    height:752px;
    display:flex;
    align-content: center;
    justify-content: center;
    margin-inline: auto;
}
.logo-1 {
    width:40px;
    height: 30px;
    padding: 10px;
    display: inline-block;
}
.four-para-white {
    width: 807.99px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-inline:auto;
    background-color: white;
    margin-bottom: 30px;
}
.separator-brown {
    border:none;
    border-top:2.5px solid #622B1E;
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
.four-para-white h1 {
    padding:0px;
}
.four-para-white.logo {
    color:#622B1E;
    font-size:10px;
}
.founder-para {
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    font-size:16px;
    padding:25px;
}
.founder-para img {
    width:808px;
    height:355px;
    margin-inline: auto;
}
.founder-para h1 {
    padding:0px;
    margin-top: 20px;    
}



@media (max-width:768px)
{
    .heading-background{
        display:flex;
        flex-direction: row;
        justify-content: center;
        position:relative;
        text-align: center;
    }
    .heading-background h1{
        font-size: 25px;
        font-weight: 700;
        position:absolute;
        color:white;
        padding: 0px;
        margin-top:75px;
        margin-left: 0px;
    }
    .heading-background img {
        width:100%;
        height: fit-content;
    }
    .separator {
        border:none;
        border-top:1px solid #ccc;
        margin:20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    .one-para{
        display:flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        text-align: center;
    }
    .one-para h1 {
        padding: 0px;
        font-size: 25px;
        text-align: center;
    }
    .two-para {
        margin-left: 10px;
        margin-right: 10px;
        color:#622B1E;
        display:flex;
        flex-direction: row-reverse;
        justify-content: center;
        text-align: center;
        padding: 20px;
        font-size: 18px;
    }
    .three-para {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        padding:20px;
    }
    .three-para h1 {
        text-align: center;
        font-size: 36px;
        padding-top: 30px;
        padding-left: 0px;
    }
    .three-para img {
        width:100%;
        height:max-content ;
    }
    .separator-brown {
        border:none;
        border-top:2.5px solid #622B1E;
        width:100%;
    }
    .crafted-image {
        width:345px;
        height:320px;
        display:flex;
        align-content: center;
        justify-content: center;
    }
    .logo-1 {
        width:40px;
        height: 30px;
        padding: 10px;
        display: inline-block;
    }
    .four-para-white {
        width:auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        background-color: rgb(255, 255, 255);
        /* padding:25px; */
    }
    .four-para-white h1 {
        display:inline-block;
    }
    .four-para-white.logo {
        color:#622B1E;
        font-size:10px;
    }
    .founder-para {
        display:flex;
        flex-direction: column;
        justify-content:flex-start;
        text-align: center;
        font-size:16px;
        padding:25px;
    }
    .founder-para h1 {
        padding:0px;
        margin-top: 20px;    }
    .founder-para img {
        width: 100%;
        height:fit-content;
    }

}
