    .body{
        font-family: 'Crimson Text';
    }
    .product-section{
        padding: 20px;
        /* text-align: center; */
        background-color: #F3F1E4;
    }
    .section-heading{
        margin-bottom:30px;
        text-align: center;
        font-size: 48px;}
    .product-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;
    }
    .product-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ccc;
        padding: 0px;
        border-radius: 0px;
        width: 80%;
        max-width: 400px;
        position: relative;
    }
    .product-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 0;
    }
    .product-item::after{
        content:'';
        position: absolute;
        left:0;
        bottom:0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom,transparent,#622B1E);
    }
    .product-info{
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        padding: 10px;
        z-index: 2;
    }
    .product-heading{
        margin-top:0;
        margin-bottom: 5px;
        font-size: 42px;
        color: white;
    }
    .product-description{
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 16px;
        color: #ffffff;
    }
    .product-button{
        background-color: #ffffff;
        color: #622B1E;
        border:none;
        padding: 14px 26px;
        cursor: pointer;
    }
    .view-all-button-container{
        display:flex;
        justify-content: center;
    }
    .view-all-button{
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #622B1E;
        color: white;
        border: none;
        padding: 16px 32px;
        cursor: pointer;
        font-size: 1.1em;
        transition: background-color 0.3s ease;
    }
    /* .view-all-button:hover {
        background-color: #F3F1E4;
        color:#622B1E;
    } */
    @media (max-width:768px) {
        .section-heading {
            font-size: 32px;
        }
        .product-heading {
            font-size: 24px;
        }
        .product-grid {
            gap:10px;
            padding:0 10px;
        }
        .product-grid > * {
            flex:1 1 100%;
            max-width: 100%;
        }
    }