body{
    font-family: 'Crimson Text';
}
@media (min-width:769px){
.delivery-details-section {
    padding:25px 0;
    background-color: #f3f1e4;
    box-sizing: border-box ;
}

    .logo-details {
        display: grid;
        grid-template-columns: 48px 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
    }
    .logo-1-1 {
        width:48px;
        height:48px; 
        grid-area: 1 / 1 / 3 / 2; }
    .expected-date { 
        display:flex;
        align-items: center;
        margin: 0;
        grid-area: 1 / 2 / 2 / 3; }
    .extra-details { 
        display: flex;
        align-items: flex-start;
        grid-area: 2 / 2 / 3 / 3; }
    .logo-details-2 {
        display: grid;
        grid-template-columns: 48px 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;}
    .logo-2-2 { 
        width: 48px;
        height: 48px;
        padding: 10px;
        grid-area: 1 / 1 / 2 / 2; }
    .extra-details-2 { 
        display: flex;
        align-items: center;
        width:auto;
        height: auto;
        grid-area: 1 / 2 / 2 / 3; }
}
@media (max-width: 768px) {
  .logo-details {
    display:grid;
    grid-template-columns: 48px 1fr;
    /* grid-template-rows: auto auto; */
    grid-column-gap: 20px;
    grid-row-gap:5px;
    margin-bottom: 10px;
  }

  .logo-1-1 {
    width:48px;
    height:48px;
    grid-row: 1 / span 2; 
    align-self: start;
  }

  .expected-date {
    display:flex;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .extra-details {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .logo-details-2 {
    display: grid;
    grid-template-columns: 48px 1fr;
    /* grid-template-rows: auto; */
    grid-column-gap: 20px;
    margin-bottom: 10px;
  }

  .logo-2 {
    width:48px;
    height:48px;
    display:inline-block;

    align-self: start;
  }

  .extra-details-2 {
    display: flex;
    grid-row: 1;
    grid-column: 2;
    align-items: center;

  }
}


