
.navbar {
    background-color: #f3f1e4;
    padding:10px;
}
.nav-lins {
    display:flex;
    justify-content:center;
    list-style:none;
    gap:20px;
    font-size:18px;
}
.nav-links li a {
    text-decoration: none;
    color:#333;
}
.nav-lins li a:hover {
    color:brown ;
}
.page-width {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 15px;
}

body {
    font-family: 'Crimson Text';
}
@media (min-width:769px)
{
    body{
        padding:0;
    }
    .page-width {
    padding: 0 25px;
}
}
.page-width-small {
    max-width: 800px;
}
